@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);

body {
  background: url('http://api.thumbr.it/whitenoise-361x370.png?');
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
}

#remote-media video {
  border-radius: 5px;
  height: 100%;
}

#remote-media {
  height: 100%;
  width: 100%;
  position: relative;

}

#local-media {
  position: absolute;
  right: 59.5257%;
  height: 69.1429%;
  margin-top: 6.51159e-05%;
}

#controls {
  /*position: fixed !important;*/
  position: absolute;
  top: 0;
  right: 2.6%;
  bottom: 0;
  left: 0;
  /*width: 100%;*/
  margin-left: 7.3%;
}

#sidebar {
  background: #002522;
  position: absolute;
  height: 100%;
  z-index: -1;
  padding: 0 2%;
  /*margin-bottom: 0;*/
}

.fa {
  font-size: 50px !important;
  display: block !important;
  margin-bottom: 100px;
  color: #7AE0D9;
  z-index: 999;  
}

.fa:hover {
  transition: color .5s;
  color: #FFCCC9;
}
