html {box-sizing: border-box;}
*, *:after, *:before {box-sizing: inherit;}

img{
  width:100px;
  height:100px;
  margin-left: 145px;
}

p{
  margin:5px;
  text-align:left;
}

ul{
  list-style: none;
  padding-left:0px;
  margin-top:5px;
}

#mainContainer{
}

#windowsContainer{
  height:65%;
  width:65%;
  border:3px solid black;
}

#window1Container{
  width:500px;
  border:3px solid black;
}

#window1{
  border:3px solid blue;
  width:50%;
  height:300px;
}

div#votingContainer{
  height:95px;
  width:65%;
}

#upvote1{
  display: inline-block;
  float:left;
}

#upCounter1{
  height:30px;
  width:30px;
  border:1px solid green;
  display:inline-block;
  margin-bottom:120px;
  float:left;
}

 .fa.fa-users{
  font-size: 32px;
  border-bottom:1px solid black;
}

.fa.fa-commenting{
  font-size: 36px;
}

#votingContainer .fa-thumbs-up{
 font-size: 65px;
}

#votingContainer .fa-thumbs-down{
 font-size: 65px;
 border:1px solid green;
 padding:0;
}

#downvote1{
  display:inline-block;
  float:left;
}

#downCounter1{
  height:30px;
  width:30px;
  border:1px solid green;
  display:inline-block;
  margin-bottom:120px;
  float:left;
}

#window2Container{
  width:500px;
  border:3px solid black;
}

#window2{
  border:3px solid blue;
  height:300px;
  width:50%;
  float:right;
  margin-top:-300px;
}

#upvote2{
  display: inline-block;
  float:right;
}

#upCounter2{
  height:30px;
  width:30px;
  border:1px solid green;
  display:inline-block;
  float:right;
}

#downvote2{
  float: right;
  display: inline-block;
}

#downCounter2{
  height:30px;
  width:30px;
  border:1px solid green;
  display:inline-block;
  float:right;
}

.tab-panels{
  width:100%;
}

#spectators{
  float:right;
  border:1px solid green;
  width:250px;
  margin-top: -300px;
  height:100%;
  text-align: center;
}

#chatHeader{
  font-size: 26px;
}

#chatWindow{
  width:35%;
  height:600px;
  border:1px solid blue;
  float:right;
  margin-top: -400px;
}

/* JQuery Tabs Styling */


.tab-panels ul {
    margin: 0;
    padding: 0;
}
.tab-panels ul li {
    list-style-type: none;
    display: inline-block;
    background: #999;
    margin: 0;
    padding: 3px 10px;
    border-radius: 10px 10px 0 0;
    color: #fff;
    font-weight: 200;
    cursor: pointer;

}
.tab-panels ul li:hover {
    color: #fff;
    background: #666;
}

.tab-panels ul li.active {
    color: #fff;
    background: #666;
}

.tab-panels .panel {
    display:none;
    background: #c9c9c9;
    padding: 30px;
    border-radius: 0 0 10px 10px;
}

.tab-panels .panel.active {
    display:block;
}


