html {box-sizing: border-box;}
*, *:after, *:before {box-sizing: inherit;}

.search--topic--container{
	width: 500px;
	margin: auto;
	border: none;
}

.searchbar{
	width: 400px;
	height: 40px;
	margin-top: 20px;
}

.searchbutton{
	width: 65px;
    height: 40px;
    background-color: #2A4976;
    color: white;
    border-radius: 5px;
    margin-left: 5px;
    outline: none;
    margin-top: 20px;

}
.profiledummybutton{
	width: 100px;
	height: 100px;
	background-color: white;
}

li img{
	border-radius: 100%;
	width: 40px;
	height: 40px;
}
ul{
	margin-top: 20px;
}
li{
    font-size: 20px;
    list-style: none;
    color: white;
    padding-top: 10px;
}
a{
	text-decoration: none;
}
.usersSearch{
	width: 100%;
	height:100%;
	background-color: #01A69A;
}
