html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}
.layout {
  position:relative;
  z-index: auto;
}

.header{
  width: 100%;
  height: 50px;
  background-color: #333842;
  display: inline-table; 
}

h1{
  margin: 0px;
  background-color: #333842;
  text-align: center;
}

.logo_cg {
    width: 175px;
    height: 175px;
    float: none;
}
.labelHome{
  color: white;
  font-size: 10px;
  text-decoration: none;
  margin-left: 16px;
}
.labelMessages{
  color: white;
  font-size: 10px;
  text-decoration: none;
  margin-left: 9px;
}
.labelProfile{
  color: white;
  font-size: 10px;
  text-decoration: none;
  margin-left: 16px;
}
.labelLogout{
  color: white;
  font-size: 10px;
  text-decoration: none;
  margin-left: 12px;
}
a{
  text-decoration: none;
}
.iconColumn {
  width:65px;
  height: 1000px;
  float:left;
  clear: right;
  background-color: #01A69A;
  font-size: 16px;
  position: fixed;
  top: 0; 
}

.messageColumn {
  background-color: #01A69A;
    height: 1000px;
    width: 330px;
    margin-left: 60px;
    transition: 2s;
    position: fixed;
    top: 0;
}

h4 {
  margin-top: 0px;
}

.hidden {
  display: none;
  transition: width 2s;
}

button {
  height: 29px;
  border-radius: 0px 5px 5px 0px;
  margin: -5px;
  border-style: none;
  color:white;
  background-color: #01A69A;
  z-index: 200;
}

.myConvo {
  padding-top: 10px;
  padding-left: 60px;
  font-family: 'Julius Sans One', sans-serif; 
  color: #FFF 
}

.chatList {
  font-family: 'Muli', sans-serif;
  color: #333842;
}

.userList {
  margin-top: 5px;
  border:.5px solid #fff; 
  border-radius: 5px;
  width:95%;
  background:linear-gradient(#CECFD2, #eaedef);
}

.userList:hover {
  color: #333842;
}

.userList:active {
  color: #333842;
}

.messageButton {
	background-color: #01A69A;
  outline: none;
  margin-bottom: 10px;
  margin-left: 7px;
  margin-top: 20px;
  font-size: 35px;
}

.videoIcon {
	margin-left: 10px;
	text-decoration: none;
	color:#FFF;	
}

.videoIcon:hover, .videoIcon:active {
	color: #333842;
  background-color: #01A69A;
    outline: none;
    margin-bottom: 10px;
    margin-left: 7px;
    margin-top: 20px;
    font-size: 35px;
}

