html {box-sizing: border-box;}
*, *:after, *:before {box-sizing: inherit;}

body{
	background-color: #333842;
}

.logo_cg {
    width: 175px;
}

#container{
	width: 100%
}
.header{
	width: 100%;
    height: 50px;
    background-color: #002522;
    display: inline-table;
}
h1{
    margin: 0px;
    background-color: #333842;
    text-align: center;
}
p{
	color: #FFF;
	font-family: 'Muli', sans-serif;
	float: left;
	margin-left: 10px;
}
.loginForm {
  width: 280px;
  margin: 0% auto;
}
.login_form {
    padding-top: 10px;
    height: 168px;
    border-radius: 5px;
    color: black;
    font-size: 20px;
    font-family: Helvetica;
    background: linear-gradient(#CECFD2, #eaedef);

}
input{
	width: 250px;
    height: 30px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 12px;
    font-size: 14px;
    border: 1px solid white;
    font-family: 'Cabin', sans-serif;
    outline: white;
}
.button{
	width: 80px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    background-color: #07A9A2;
    color: white;
    margin-left: 15px;
    font-family: 'Cabin', sans-serif;
    font-size: 15px;
    border: none;
}
.button--state-register{
	margin-right: 15px;
    float: right;
    color: white;
    background-color: #ED283C;
    width: 90px;
    font-family: 'Cabin', sans-serif;
    font-size: 15px;
    border: none;
}
