html{
  text-decoration-color: white;
}

aside{
  max-width:100px;
}

p{
  font-size: 11px;
}

img{
  float:left;
  height:35px;
  width:35px;
  margin:5px;
  padding:3px;
}

input#inputBox{
  width: 88%;
  border: 2px solid #7AE0D9;
  margin-top: 380px;
  border-radius: 5px 0px 0px 5px;
  height: 29px;
}

h5{
  margin: 0px 3px -18px;
  color:#07A9A2;
}

h6{
  margin: 2px 590px -5px;
  color:#B8B8B8;
  font-weight: bold;
  float:right;
}

.message{
  border-bottom: 1px solid white;
}

#messages{
  height: 100%;
}

#messagingContainer{
  color:#0097A7;
  height:542px;
  width:800px;
  margin-top: -88px;
  background-color: #333842;
  margin-left: 370px;
  border:1px solid white;
  padding:10px;
  border-radius: 5px;
  position:absolute;
}

ul{
  list-style: none;
  padding-left: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin:0px;
}

button{
  height: 29px;
  border-radius: 0px 5px 5px 0px;
  margin: -5px;
  border-style: none;
  color:white;
  background-color: #01A69A;
  z-index: 200;
}

li{
    padding-top: 7px;
    font-size: 16px;
    font-style: italic;
    display: flex;  
}

