body{
	background-color: #333842;
}

html {
	box-sizing: border-box;
}

*, *:after, *:before {
	box-sizing: inherit;
}

.error {
    font-size: 12px;
    color: red;
    font-family: 'Julius Sans One';
    margin-top: -13px;
    margin-left: 40px;
}

.logo_cg {
    width: 175px;
    height: 175px;
    float: none;
}

.header{
    width: 100%;
    height: 50px;
    background-color: #333842;
    display: inline-table;
}
.logo_h1{
    margin: 0px;
    background-color: #333842;
    text-align: center;
}

.register_form {
    height: 400px;
    background-color: #07A9A2;
    color: black;
    font-size: 20px;
    font-family: Helvetica;

 }

 .input_field_register {
    border-radius: 5px;
 }

 .registerform_container {
  width:280px;
  margin: auto;

 }

 .register_header {
    width: 250px;
    height: 30px;
    margin-top: 10px;
    margin-left: 12px;
    font-size: 20px;
    font-family: 'Cabin', sans-serif;
    outline: none;
    color: white;
    text-decoration: underline;
 }

 .register_state_select {
 	width: 250px;
    height: 30px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 12px;
    font-size: 14px;
    border: 1px solid gray;
    font-family: 'Cabin', sans-serif;
    outline: none;
 }

 .register_affilation_select {
 	width: 250px;
    height: 30px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 12px;
    font-size: 14px;
    border: 1px solid gray;
    font-family: 'Cabin', sans-serif;
    outline: none;
 }

 .register_topic_select {
 	width: 250px;
    height: 30px;
    margin-top: 10px;
    margin-left: 12px;
    font-size: 20px;
    font-family: 'Cabin', sans-serif;
    outline: none;
    color: white;
    text-decoration: underline;
    
 }

 .button--state-register--register{
    margin-top: 15px;
    margin-left: 64px;
    margin-right: 15px;
    color: white;
    background-color: #ED283C;
    width: 90px;
    font-family: 'Cabin', sans-serif;
    font-size: 15px;
}

.select--topic--container {
	height: 511px;
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    font-family: 'Cabin', sans-serif;
    outline: none;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-top: 70px;
    position: absolute;
    right: 540px;
    margin-bottom: 60px;
}

.labels {
	color: white;
  	padding-left: 15px;
  	margin-bottom: 5px;
}

.topic_checkbox {
	width: 30px;
}

#avatar {
    color: white;
    background-color: #333842;
    outline: none;
    font-family: 'Cabin', sans-serif;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 12px;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    border: none;
}

